// src/views/empleados/dashboard.pug
doctype html
html
  head
    title Gestión de Empleados
  body
    h1 Gestión de Empleados
    ul
      li: a(href="/empleados/listado") Listado de Empleados
      li: a(href="/empleados/nuevo-empleado") Alta de empleados
      li: a(href="/") Menú Principal
