doctype html
html
    head
        title Clínica Médica - Salud Integral
    body
        h1 Clínica Médica - Salud Integral
        h2 Gestión de Empleados
        br
        ul
          li: a(href="/empleados/listado") Listado de Empleados
          li: a(href="/empleados/nuevo-empleado") Alta de empleados
          li: a(href="/") Menú Principal
