doctype html
html
    head
        title Clínica Médica - Salud Integral
    body
        h1 Clínica Médica - Salud Integral
        h2 Gestión de Pacientes
        br
        ul
            li
                a(href="/pacientes/listado") Listado de Pacientes
            li
                a(href="/pacientes/nuevo-paciente") Alta de pacientes
            li
                a(href="/") Menú Principal