doctype html
html
    head
        title Clínica Médica - Salud Integral
    body
        h1 Clínica Médica - Salud Integral
        h2 Gestión de Tareas
        br
        
        nav
            ul
                li 
                    a(href="/tareas/listado") Listado de Tareas
                li 
                    a(href="/tareas/nuevaTarea") Alta de Tareas
                li 
                    a(href="/") Menú Principal