doctype html
html
    head
        title Clínica Médica - Salud Integral
    body
        h1 Clínica Médica - Salud Integral
        h2 Gestión de Historias Clínicas
        br
        ul
            li 
                a(href="/historias/buscarHistoria") Búsqueda de Historia Clínica
            li 
                a(href="/historias/nuevaHistoria") Alta de nueva Historia Clínica
            li 
                a(href="/") Menú Principal
