doctype html
html
  head
    title Clínica Médica - Salud Integral
  body
    h1 Clínica Médica - Salud Integral
    h2 Gestión de Insumos
    br
    ul
      li
        a(href="/insumos/listado") Listado de Insumos
      li
        a(href="/insumos/nuevo-insumo") Alta de insumos
      li
        a(href="/") Menú Principal
